/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

.main-header {
    background-color: lightblue;
    min-height: 50px;
}

.main-header-grid {
    max-width: 2000px;
    margin: 0 auto;
}


.main-header-container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    flex-basis: 25%;
    min-height: 50px;
    background-color: brown;
    border: dashed;
}

.header-link {
    flex-basis: 50%;
    min-height: 50px;
    background-color: brown;
    border: dashed;
}

.header-login {
    flex-basis: 25%;
    min-height: 50px;
    background-color: brown;
    border: dotted;
}

/* MAIN */

/* Spotlight section */
.wallpaper {
    background-color: coral;
    min-height: 400px;
}

.wallpaper-container {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spotlight {
    width: 50%;
    height: 50%;
    background-color: darkgreen;
    border: dotted;
}

/* Organization section */
.channels {
    background-color: darkcyan;
}

.organization {
    min-height: 600px;
    max-width: 2000px;
    margin: 0 auto;
}

.organization-container {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.organization-image {
    width: 60%;
    height: 80%;
    background-color: darkgreen;
    border: dotted;
}

.organization-description {
    width: 40%;
    height: 80%;
    background-color: blueviolet;
    border: dotted;
}

/* Friends section */
.vocal {
    background-color: gray;
}

.friends {

    min-height: 600px;
    max-width: 2000px;
    margin: 0 auto;
}

.friends-container {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.friends-description {
    width: 40%;
    height: 80%;
    background-color: blueviolet;
    border: dotted;
}

.friends-image {
    width: 60%;
    height: 80%;
    background-color: darkgreen;
    border: dotted;
}

/* Fandom section */
.community {
    background-color: darkcyan;
}

.fandom {
    min-height: 600px;
    max-width: 2000px;
    margin: 0 auto;
}

.fandom-container {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.fandom-image {
    flex-basis: 60%;
    /* width: 60%; */
    height: 80%;
    background-color: darkgreen;
    border: dotted;
}

.fandom-description {
    flex-basis: 40%;
    /* width: 40%; */
    height: 80%;
    background-color: blueviolet;
    border: dotted;
}

/* Download section */
.download {
    background-color: coral;
    min-height: 800px;
}

.app-download-container {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-download {
    width: 50%;
    height: 80%;
    background-color: darkgreen;
    border: dotted;
}

/* FOOTER */

/* Main footer */
.main-footer-links {
    background-color: darkmagenta;
}

.main-footer-grid {
    /* min-height: 600px; */
    max-width: 2000px;
    margin: 0 auto;
}

.links-container {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-footer-logos {
    flex-basis: 30%;
    height: 80%;
    background-color: darkgreen;
    border: dotted;
}

.main-footer-utilities {
    flex-basis: 70%;
    height: 80%;
    background-color: blueviolet;
    border: dotted;
    display: flex;
}

.main-footer-utilities>div {
    border: dotted;
    flex-basis: 25%;
}

/* Secondary footer */
.secondary-footer {
    background-color: darkmagenta;
    margin-top: 2px;
}

.secondary-footer-grid {
    max-width: 2000px;
    margin: 0 auto;
}

.secondary-footer-container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: cadetblue;
}

.secondary-footer-logo {
    flex-basis: 5%;
    border: dotted;
    height: 50%;
    background-color: darkblue;

}

.secondary-footer-button {
    flex-basis: 5%;
    border: dotted;
    height: 50%;
    background-color: darkblue;
}